# Binaries
stake
stakecli
stakecli-ci
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.txt
coverage.out

# Release artifacts
dist/

# Dependency
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
